* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.container {
  background: url("bg-header-desktop.png") no-repeat center top/cover;
  padding: 80px 20px;
}
.images {
  position: absolute;
  top: 0;
  left: 0;
}
button {
  background-color: hsl(171, 66%, 44%);
  margin-left: 20px;
  border: none;
  width: 15%;
  border-radius: 20px;
  padding: 10px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  box-shadow: 0 3px 6px rgb(35, 107, 96);
}
.buttons {
  background-color: hsl(233, 100%, 69%);
}
p {
  color: hsl(201, 11%, 66%);
}
h2 {
  color: hsl(210, 10%, 33%);
  margin-right: 100px;
}
.sea {
  margin-right: 200px;
  font-weight: 600;
}
.sync {
  margin-right: 200px;
  font-weight: 600;
}
.history {
  margin-right: 190px;
  font-weight: 600;
}
.container {
  text-align: center;
}
.container-text {
  text-align: center;
  margin-top: 50px;
}
.computer {
  width: 40%;
  margin-top: 50px;
}
.computer-text {
  text-align: center;
  margin-top: 50px;
  margin-right: 300px;
}
.computer-texts {
  display: flex;
  justify-content: space-between;
}
.searchs {
  max-width: 330px;
}
.icloud-sync {
  margin-top: 30px;
  margin-left: 10px;
}
.complete-history {
  margin-top: 30px;
  margin-left: 20px;
}
.clipboard-image {
  width: 40%;
  margin-top: 50px;
}
.clipboard {
  text-align: center;
  margin-top: 50px;
}
.product {
  text-align: center;
  margin-top: 10px;
}
.tools {
  margin-top: 20px;
  margin-right: 60px;
}
.clipboard-bodies {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  justify-content: center;
  text-align:center;
}
.information {
  justify-content: center;
  margin-right: 100px;
}
.copied-text{
  max-width:400px;
}
.logo {
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  gap: 90px;
  
}
.final-download {
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
}
button {
  background-color: hsl(171, 66%, 44%);
  margin-left: 20px;
  border: none;
  width: 15%;
  border-radius: 20px;
  padding: 10px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  margin-top: 30px;
}
.search {
  margin-top: 20px;
  max-width: 550px;
  justify-content: center;
  text-align: center;
  margin-left: 400px;
}
.download{
  max-width:600px;
  margin-left:270px;
}
footer {
  padding: 40px 20px;
  background-color: hsl(204, 26%, 93%);
  margin-top: 50px;
}
.footers {
  display: flex;
  max-width: 1100px;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
}
.footer-links a {
  color: hsl(210, 10%, 33%);
  margin-left: 50px;
  text-decoration: none;
  font-size: 15px;
}
.us{
  margin-top:30px;
}
.policy{
  margin-top:30px;
}
.footer-links a:hover {
  color: hsl(171, 66%, 44%);
  cursor: pointer;
}
.footer-right a img {
  width: 24px;
  margin-left: 15px;
}
.social-media {
  display: flex;
  gap: 15px;
}
.social img {
  width: 25px;
}
.footer-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-logo {
  width: 50px;
}
@media (max-width: 450px) {
  .computer-texts {
    flex-direction: row;
    text-align: left;
  }
  .clipboard-bodies {
    flex-direction: row;
    text-align: center;
    display: grid;
  }
  button {
    flex-direction: column;
    width: 50%;
  }
  .computer {
    flex-direction: column;
    margin: auto;
    width: 50%;
  }
  .computer-texts {
    display: grid;
    margin-top: 40px;
  }
  .computer-text {
    text-align: center;
    margin-left: 10px;
  }
  .clipboard-image {
    width: 80%;
  }
  .logo {
    flex-direction: column;
    width: 50%;
  }
  .final-download {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .footers {
    flex-direction: column;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
    justify-content: center;
  }
  .footer-left {
    display: grid;
    justify-content: center;
  }
  .footer-left img {
    height: auto;
    width: 65px;
    margin-left: 80px;
    justify-content: center;
    align-items: center;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin-right: 90px;
  }
  .footer-links a {
    font-size: 20px;
    text-decoration: none;
  }
  .footer-right {
    display: flex;
    margin-top: 10px;
    gap: 20px;
    justify-content: center;
  }
  .footer-right img {
    width: 25px;
  }
}
